* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    font-family: Arial;
}

body {
    color: #333;
    text-align: center;
}

.container {
    width: 70%;
    padding: 20px;
    margin: 20px auto;
    text-align: left;
    border: 1px solid #ddd;
}

.container h1 {
    font-size: 2rem;
}